{% extends 'layout.html' %}
{% block content %}
<div class="container mt-5">
    <h2>Registrar Producto</h2>
    <form id="formCrearProducto" action="{{ url_for('crear_producto') }}" method="POST">
        <div class="mb-3">
            <label for="codigoProducto" class="form-label">Código</label>
            <input type="text" class="form-control form-control-sm" id="codigoProducto" name="codigoProducto" required>
        </div>
        <div class="mb-3">
            <label for="nombreProducto" class="form-label">Nombre</label>
            <input type="text" class="form-control form-control-sm" id="nombreProducto" name="nombreProducto" required>
        </div>
        <div class="mb-3">
            <label for="descripcionProducto" class="form-label">Descripción</label>
            <textarea class="form-control form-control-sm" id="descripcionProducto" name="descripcionProducto" rows="3" required></textarea>
        </div>
        
        <div class="mb-3">
            <label for="categoriaProducto" class="form-label">Categoría</label>
            <select class="form-select form-control-sm" id="categoriaProducto" name="categoriaProducto" required>
                <option value="">Seleccione una categoría</option>
                {% for categoria in categorias %}
                    <option value="{{ categoria.idcategoria }}">{{ categoria.nombre }}</option>
                {% endfor %}
            </select>
        </div>
        
        <div class="mb-3">
            <label for="precioProducto" class="form-label">Precio</label>
            <input type="number" class="form-control form-control-sm" id="precioProducto" name="precioProducto" required step="0.01">
        </div>

        <div class="mb-3">
            <label for="unidadMedidaProducto" class="form-label">Unidad de Medida</label>
            <select class="form-select form-control-sm" id="unidadMedidaProducto" name="unidadMedidaProducto" required>
                <option value="">Seleccione una unidad</option>
                {% for unidad_padre in unidades_padre %}
                    <optgroup label="{{ unidad_padre.unidad_medida }}">
                        {% for subunidad in unidad_padre.subunidades %}
                            <option value="{{ subunidad.idunidad_medida }}">{{ subunidad.unidad_medida }}</option>
                        {% endfor %}
                    </optgroup>
                {% endfor %}
            </select>
        </div>
        
        
        <div class="mb-3">
            <label for="presentacionProducto" class="form-label">Presentación</label>
            <input type="text" class="form-control form-control-sm" id="presentacionProducto" name="presentacionProducto" required>
        </div>
        <div class="mb-3">
            <label for="cantidadStockProducto" class="form-label">Cantidad en Stock</label>
            <input type="number" class="form-control form-control-sm" id="cantidadStockProducto" name="cantidadStockProducto" required>
        </div>
        <button type="submit" class="btn btn-primary form-control-sm">Guardar Producto</button>
    </form>
</div>
{% endblock %}

    


    