{% extends 'layout.html' %}

{% block content %}

    <!-- Mostrar la tabla de todos los productos -->
    <div class="container mt-5">
        <h3>Lista de Productos</h3>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Código</th>
                    <th>Nombre</th>
                    <th>Descripcion</th>
                    <th>Categoría</th>
                    <th>Unidad de Medida</th>
                    <th>Precio</th>
                    <th>Stock</th>
                    <th>Estado</th>
                </tr>
            </thead>
            <tbody>
                {% for producto, categoria, unidad_medida in productos %}
                <tr>
                    <td>{{ producto.idproductos }}</td> 
                    <td>{{ producto.codigo }}</td>
                    <td>{{ producto.nombre }}</td>
                    <td>{{ producto.descripcion }}</td>
                    <td>{{ categoria.nombre }}</td>  <!-- Mostrar el nombre de la categoría -->
                    <td>{{ unidad_medida.unidad_medida }}</td>  <!-- Mostrar el nombre de la unidad de medida -->
                    <td>${{ producto.precio_unitario_formateado }}</td>
                    <td>{{ producto.cantidad_stock }}</td>
                    <td>
                        {% if producto.is_active %}
                        Activo
                        {% else %}
                        Inactivo
                        {% endif %}
                    </td>
                </tr>
                {% else %}
                <tr>
                    <td colspan="8" class="text-center">No hay productos registrados</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}


   


    