{% extends 'layout.html' %}
{% block content %}
<div class="container mt-5">
    <label for="buscarTipoDocumento" class="form-label">Tipo de Documento:</label>
    <select class="form-control form-control-sm" id="buscarTipoDocumento" name="buscartipoDocumento">
        <option value="">Seleccione tipo de documento</option>
        <option value="CC">Cédula de Ciudadanía</option>
        <option value="TI">Tarjeta de Identidad</option>
        <option value="CE">Cédula de Extranjería</option>
        <option value="PA">Pasaporte</option>
        <option value="RC">Registro Civil</option>
        <option value="NIT">NIT</option>
    </select>

    <label for="buscarCedula" class="form-label">Número de Documento:</label>
    <input type="text" placeholder="Ingrese número del documento para buscar" class="form-control form-control-sm" id="buscarCedula" onkeypress="handleKeyPress(event)">

    <button onclick="buscarYEditarVendedor()" class="btn btn-primary mt-2">Buscar Vendedor</button>
</div>

<div id="datosVendedor" class="container mt-5" style="display:none;">
    <h2>Editar Vendedor</h2>
    <form id="formEditarVendedor" action="/vendedores_actualizar" method="POST">
        <input type="hidden" id="vendedorId" name="vendedorId">
        
        <div class="mb-3">
            <label for="tipoDocumentoEditar" class="form-label">Tipo de Documento</label>
            <select class="form-control form-control-sm" id="tipoDocumentoEditar" name="tipoDocumento">
                <option value="">Seleccione tipo de documento</option>
                <option value="CC">Cédula de Ciudadanía</option>
                <option value="TI">Tarjeta de Identidad</option>
                <option value="CE">Cédula de Extranjería</option>
                <option value="PA">Pasaporte</option>
                <option value="RC">Registro Civil</option>
                <option value="NIT">NIT</option>
            </select>
        </div>
        
        <div class="mb-3">
            <label for="nombreVendedor" class="form-label">Nombre</label>
            <input type="text" class="form-control form-control-sm" id="nombreVendedor" name="nombreVendedor" required>
        </div>
        <div class="mb-3">
            <label for="apellidoVendedor" class="form-label">Apellidos</label>
            <input type="text" class="form-control form-control-sm" id="apellidoVendedor" name="apellidoVendedor" required>
        </div>
        <div class="mb-3">
            <label for="cedulaVendedor" class="form-label">Número de Documento</label>
            <input type="text" class="form-control form-control-sm" id="cedulaVendedor" name="numeroDocumento" readonly>
        </div>
        <div class="mb-3">
            <label for="telefonoVendedor" class="form-label">Teléfono</label>
            <input type="tel" class="form-control form-control-sm" id="telefonoVendedor" name="telefonoVendedor">
        </div>
        <div class="mb-3">
            <label for="direccionVendedor" class="form-label">Dirección</label>
            <input type="text" class="form-control form-control-sm" id="direccionVendedor" name="direccionVendedor" required>
        </div>
        <div class="mb-3">
            <label for="emailVendedor" class="form-label">Email</label>
            <input type="email" class="form-control form-control-sm" id="emailVendedor" name="emailVendedor" required>
        </div>
        <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-primary form-control-sm">Guardar Cambios</button>
        </div>
    </form>

    <form>
        <div class="container mt-5">
            <h2>Detalles del Vendedor</h2>
            <div id="vendedorDetalles" class="hidden">
                <!-- Campos existentes... -->
            </div>
            <!-- Botones para controlar el estado del Vendedor -->
            <button type="button" class="btn btn-danger" onclick="eliminarVendedor()">Eliminar Vendedor</button>
        </div>

    </form>

</div>

<script>
    function handleKeyPress(event) {
        if (event.key === "Enter") {
            event.preventDefault();
            buscarYEditarVendedor();
        }
    }

    function buscarYEditarVendedor() {
        const tipoDocumento = document.getElementById('buscarTipoDocumento').value;
        const numeroDocumento = document.getElementById('buscarCedula').value.trim();

        if (!tipoDocumento || !numeroDocumento) {
            alert("Por favor, complete el tipo y número de documento antes de buscar.");
            return;
        }

        fetch(`/vendedores_buscar?tipoDocumento=${tipoDocumento}&numeroDocumento=${numeroDocumento}`)
            .then(response => response.json())
            .then(vendedor => {
                if (vendedor.error) {
                    alert('Vendedor no encontrado');
                    return;
                }

                document.getElementById('vendedorId').value = vendedor.id;
                document.getElementById('nombreVendedor').value = vendedor.nombre;
                document.getElementById('apellidoVendedor').value = vendedor.apellido;
                document.getElementById('cedulaVendedor').value = vendedor.numero_documento;
                document.getElementById('telefonoVendedor').value = vendedor.telefono;
                document.getElementById('direccionVendedor').value = vendedor.direccion;
                document.getElementById('emailVendedor').value = vendedor.email;

                // Selecciona la opción correcta en el select del tipo de documento
            var selectTipoDocumento = document.getElementById('tipoDocumentoEditar');
            for (let i = 0; i < selectTipoDocumento.options.length; i++) {
                if (selectTipoDocumento.options[i].value === vendedor.tipo_documento) {
                    selectTipoDocumento.selectedIndex = i;
                    break;
                }
            }

                document.getElementById('datosVendedor').style.display = 'flex';
            })
            .catch(error => console.error('Error al buscar el vendedor:', error));
    }

    function eliminarVendedor() {
    var numeroDocumento = document.getElementById('buscarCedula').value;
    var tipoDocumento = document.getElementById('tipoDocumentoEditar').value;

    if (!numeroDocumento || !tipoDocumento) {
        alert("Por favor ingrese el tipo y número de documento del vendedor que desea eliminar.");
        return;
    }

    var confirmacion = confirm("¿Estás seguro de que deseas eliminar este vendedor? Esta acción no se puede deshacer.");
    if (confirmacion) {
        fetch('/vendedores_eliminar', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                numeroDocumento: numeroDocumento,
                tipoDocumento: tipoDocumento
            })
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                alert(data.message);
                limpiarFormulario();  // Limpiar el formulario después de la eliminación
                console.log("Recargando la página...");  // Agrega este log para verificar
                location.reload();  // Recargar la página
            } else {
                alert(data.message);
            }
        })
        .catch(error => console.error('Error al eliminar el vendedor:', error));
    }
}


function limpiarFormulario() {
    document.getElementById('buscarCedula').value = '';
    document.getElementById('tipoDocumentoEditar').value = '';
}


</script>
{% endblock %}



    