{% extends 'layout.html' %}
{% block content %}
<div class="container mt-5">
    <label for="buscarTipoDocumento" class="form-label">Tipo de Documento:</label>
    <select class="form-control form-control-sm" id="buscarTipoDocumento" name="buscartipoDocumento">
        <option value="">Seleccione tipo de documento</option>
        <option value="CC">Cédula de Ciudadanía</option>
        <option value="TI">Tarjeta de Identidad</option>
        <option value="CE">Cédula de Extranjería</option>
        <option value="PA">Pasaporte</option>
        <option value="RC">Registro Civil</option>
        <option value="NIT">NIT</option>
    </select>

    <label for="buscarCedula" class="form-label">Número de Documento:</label>
    <input type="text" placeholder="Ingrese número del documento para mostrar" class="form-control form-control-sm"
        id="buscarCedula" onkeypress="handleKeyPress(event)">

    <button onclick="buscarYEditarCliente()" class="btn btn-primary mt-2">Buscar Cliente</button>
</div>

<div id="datosCliente" class="container mt-5" style="display:none;">
    <h2>Editar Cliente</h2>
    <form id="formCrearProducto" action="/clientes_actualizar" method="POST" onsubmit="guardarCambios(event)">
        <input type="hidden" id="clienteId" name="clienteId">
        
        <div class="mb-3">
            <label for="tipoDocumentoEditar" class="form-label">Tipo de Documento</label>
            <select class="form-control form-control-sm" id="tipoDocumentoEditar" name="tipoDocumento">
                <option value="">Seleccione tipo de documento</option>
                <option value="CC">Cédula de Ciudadanía</option>
                <option value="TI">Tarjeta de Identidad</option>
                <option value="CE">Cédula de Extranjería</option>
                <option value="PA">Pasaporte</option>
                <option value="RC">Registro Civil</option>
                <option value="NIT">NIT</option>
            </select>
        </div>
        
        <div class="mb-3">
            <label for="nombreCliente" class="form-label">Nombre</label>
            <input type="text" class="form-control form-control-sm" id="nombreCliente" name="nombreCliente" required>
        </div>
        <div class="mb-3">
            <label for="apellidoCliente" class="form-label">Apellidos</label>
            <input type="text" class="form-control form-control-sm" id="apellidoCliente" name="apellidoCliente" required>
        </div>
        <div class="mb-3">
            <label for="cedulaCliente" class="form-label">Numero documento</label>
            <input type="text" class="form-control form-control-sm" id="cedulaCliente" name="cedulaCliente" readonly>
        </div>
        <div class="mb-3">
            <label for="telefonoCliente" class="form-label">Teléfono</label>
            <input type="tel" class="form-control form-control-sm" id="telefonoCliente" name="telefonoCliente">
        </div>
        <div class="mb-3">
            <label for="direccionCliente" class="form-label">Dirección</label>
            <input type="text" class="form-control form-control-sm" id="direccionCliente" name="direccionCliente" required>
        </div>
        <div class="mb-3">
            <label for="emailCliente" class="form-label">Email</label>
            <input type="email" class="form-control form-control-sm" id="emailCliente" name="emailCliente" required>
        </div>
        <div class="mb-3">
            <label for="estadoCliente" class="form-label">Estado del Cliente</label>
            <input type="text" class="form-control form-control-sm" id="estadoCliente" name="estadoCliente" readonly>
        </div>
        <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-primary form-control-sm">Guardar Cambios</button>
        </div>
    </form>
    <form>
        <div class="container mt-5">
            <h2>Detalles del Cliente</h2>
            <div id="clienteDetalles" class="hidden">
                <!-- Campos existentes... -->
            </div>
            <!-- Botones para controlar el estado del cliente -->
            <button type="button" class="btn btn-warning mb-2" onclick="toggleEstadoCliente()">Bloquear/Desbloquear
                Cliente</button>
            <button type="button" class="btn btn-danger" onclick="eliminarCliente()">Eliminar Cliente</button>

        </div>

    </form>
</div>

<script>
    function handleKeyPress(event) {
        if (event.key === "Enter") {
            event.preventDefault();  // Previene que el formulario se envíe
            buscarYEditarCliente();  // Llama a la función que ejecuta la búsqueda
        }
    }
</script>

<script>
   function buscarYEditarCliente() {
    const tipoDocumento = document.getElementById('buscarTipoDocumento').value;
    const numeroDocumento = document.getElementById('buscarCedula').value.trim();

    if (!tipoDocumento || !numeroDocumento) {
        alert("Por favor, complete el tipo y número de documento antes de buscar.");
        return;
    }

    // Realiza la petición para obtener los datos del cliente
    fetch(`/clientes_buscar?tipoDocumento=${tipoDocumento}&numeroDocumento=${numeroDocumento}`)
        .then(response => response.json())
        .then(cliente => {
            if (cliente.error) {
                alert('Cliente no encontrado');
                return;
            }

            // Rellena los campos del formulario con los datos del cliente
            document.getElementById('clienteId').value = cliente.id;
            document.getElementById('nombreCliente').value = cliente.nombre;
            document.getElementById('apellidoCliente').value = cliente.apellido;
            document.getElementById('cedulaCliente').value = cliente.numero_documento;
            document.getElementById('telefonoCliente').value = cliente.telefono;
            document.getElementById('direccionCliente').value = cliente.direccion;
            document.getElementById('emailCliente').value = cliente.email;
            document.getElementById('estadoCliente').value = cliente.is_active ? 'Activo' : 'Inactivo';

            // Seleccionar la opción correcta en el select de tipo de documento para edición
            const selectTipoDocumentoEditar = document.getElementById('tipoDocumentoEditar');
            for (let i = 0; i < selectTipoDocumentoEditar.options.length; i++) {
                if (selectTipoDocumentoEditar.options[i].value === cliente.tipo_documento) {
                    selectTipoDocumentoEditar.selectedIndex = i;
                    break;
                }
            }

            document.getElementById('datosCliente').style.display = 'flex';
        })
        .catch(error => console.error('Error al buscar el cliente:', error));
}

</script>


<script>
   function guardarCambios(event) {
    event.preventDefault();

     // Obtener los valores del formulario
     const clienteId = document.getElementById('clienteId').value;
    const tipoDocumento = document.getElementById('tipoDocumentoEditar').value;
    const cedulaCliente = document.getElementById('cedulaCliente').value; // <-- Asegúrate de obtener el valor correcto
    const nombreCliente = document.getElementById('nombreCliente').value;
    const apellidoCliente = document.getElementById('apellidoCliente').value;
    const telefonoCliente = document.getElementById('telefonoCliente').value;
    const direccionCliente = document.getElementById('direccionCliente').value;
    const emailCliente = document.getElementById('emailCliente').value;
    const estadoCliente = document.getElementById('estadoCliente').value; // 
    

    // Verifica que todos los campos necesarios estén llenos
    if (!nombreCliente || !apellidoCliente || !telefonoCliente || !direccionCliente || !emailCliente) {
        alert('Por favor, complete todos los campos.');
        return;
    }

     // Realiza la solicitud de actualización (POST) al servidor
     fetch('/clientes_actualizar', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/x-www-form-urlencoded',
        },
        body: new URLSearchParams({
            clienteId: clienteId,
            tipoDocumento: tipoDocumento,
            cedulaCliente: cedulaCliente,
            nombreCliente: nombreCliente,
            apellidoCliente: apellidoCliente,
            telefonoCliente: telefonoCliente,
            direccionCliente: direccionCliente,
            emailCliente: emailCliente,
            estadoCliente: estadoCliente  // <-- Asegúrate de enviar el estado del cliente
        })
    })
    .then(response => {
    if (response.ok) {
        // No necesitamos procesar la respuesta como JSON si estamos redirigiendo.
        window.location.href = '/clientes_ver';  // Redirigimos a la vista de clientes donde se mostrará el mensaje flash.
    } else {
        alert('Error al guardar los cambios.');
    }
})
.catch(error => console.error('Error al actualizar el cliente:', error));


}


</script>


<script>
    function toggleEstadoCliente() {
        var numeroDocumento = document.getElementById('cedulaCliente').value; // Asegúrate de que este campo obtiene el número de documento correctamente.
        var tipoDocumento = document.getElementById('tipoDocumentoEditar').value; // Asegúrate de que este campo obtiene el tipo de documento correctamente.
        if (!numeroDocumento || !tipoDocumento) {
            alert('Por favor, ingrese el número y tipo de documento para buscar el cliente.');
            return;
        }

        // Hacer una solicitud al servidor para cambiar el estado del cliente
        fetch('/clientes_toggle_estado', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({
                numeroDocumento: numeroDocumento,
                tipoDocumento: tipoDocumento
            })
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                alert(data.message); // Mensaje desde Flask, cliente activado/bloqueado
                actualizarEstadoVisual(data.isActive); // Actualizar la interfaz con el nuevo estado
            } else {
                alert('Error al cambiar el estado del cliente.');
            }
        })
        .catch(error => console.error('Error al cambiar el estado del cliente:', error));
    }

    function actualizarEstadoVisual(isActive) {
        var estadoVisual = document.getElementById('estadoCliente'); // Asume que tienes un elemento para mostrar el estado
        if (estadoVisual) {
            estadoVisual.value = isActive ? 'Activo' : 'Inactivo'; // Cambia el valor mostrado en la interfaz
        }
    }
</script>



<script>
    function eliminarCliente() {
    var numeroDocumento = document.getElementById('cedulaCliente').value;  // Asegúrate de que este es el campo correcto
    var tipoDocumento = document.getElementById('tipoDocumentoEditar').value;  // Asegúrate de que este es el campo correcto

    if (!numeroDocumento || !tipoDocumento) {
        alert("Por favor ingrese el tipo y número de documento del cliente que desea eliminar.");
        return;
    }

    var confirmacion = confirm("¿Estás seguro de que deseas eliminar este cliente? Esta acción no se puede deshacer.");
    if (confirmacion) {
        // Realiza una solicitud POST a Flask para eliminar el cliente
        fetch('/clientes_eliminar', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                numeroDocumento: numeroDocumento,
                tipoDocumento: tipoDocumento
            })
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                alert(data.message);
                limpiarFormulario();  // Limpiar el formulario después de la eliminación
                location.reload();  // Recargar la página o redirigir según necesidad
            } else {
                alert(data.message);
            }
        })
        .catch(error => console.error('Error al eliminar el cliente:', error));
    }
}

function limpiarFormulario() {
    document.getElementById('cedulaCliente').value = '';
    document.getElementById('tipoDocumentoEditar').value = '';
}

</script>

{% endblock %}
    

   